@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}
input,
select,
textarea {
  padding: 0.2rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
